/* Create an ID selector called #header and set its color to darkblue and font-size to 32px. */

body {
  color: #333;
}

/* Create #header ID selector below */
#header {
  color: darkblue;
  font-size: 32px;
}